/* common */

header {
  position: fixed !important;
  width: 100%;
  z-index: 100;
}

.page-section {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.page-section h2 {
  font-weight: 800;
  font-size: 60px;
  color: white;
  -webkit-text-stroke: 2px #ff39b7;
}

/* .btn */

.btn-letswift {
  display: inline-block;
	border: 2px solid #151515 !important;
  border-radius: 11px;
  line-height: 16px;
	font-weight: bold;
	color: black;
  padding: 8px 45px;
}

.btn-submit {
  display: inline-block;
	border: 1px solid #FFC9B7 !important;
  border-radius: 100px;
  line-height: 20px;
	font-weight: 500;
	color: black;
  width: 100%;
  background-color: white;
  padding: 10px 45px;
  box-shadow: 0 0 4px 4px #FFC9B7;
}

.btn-submit:hover {
	color: #FF33B7;
}

.btn-letswift:hover {
  background-color: black;
  color: white;
}

.btn-letswift.disabled {
  opacity: 0.4;
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  .btn-submit {
  	border: 1px solid #FF33B7 !important;
    box-shadow: 0 0 4px 4px #FF33B7;
  }
}

/* home */

#home {
  padding-top: 70px;
}

#home .section {
  background: rgb(255,201,183);
  background: radial-gradient(circle at 60% 50%, rgba(255,201,183,1) 0%, rgba(255,51,183,1) 20%, rgba(255,51,183,1) 100%);
	float: left;
	height: 768px !important;
}

#home .section .container {
	position: relative;
	margin: 55px auto;
	height: calc(100% - 110px);
}

#home .home-title {
	position: absolute;
  white-space : nowrap;
	left: 0;
	top: 180px;
  color: white;
}

#home .home-title .main {
  position: absolute;
	top: 0;
	left: 0;
	text-align: left;
	font-size: 55px;
}

#home .home-title .sub {
  position: absolute;
	top: 70px;
	left: 0;
	text-align: left;
	font-size: 18px;
  font-style: bold;
}

#home .home-logo img {
  margin: auto;
  margin-left: 250px;
  top: 100px;
	max-width: 100%;
  max-height: 485px;
  line-height: 485px;
}

#home .home-submit {
	position: absolute;
  top: 390px;
	left: 0;
  min-width: 300px;
}

#home .home-past {
	width: 100%;
	height: 100%;
  font-size: 16px;
  font-style: bold;
}

#home .home-past .icon-2016 {
	position: absolute;
	width: 52px;
	height: 40px;
	right: 0;
	bottom: 80px;
  color: white;
}

#home .home-past .icon-2017 {
	position: absolute;
	width: 52px;
	height: 40px;
	right: 0;
	bottom: 40px;
  color: white;
}

#home .home-past .icon-2018 {
	position: absolute;
	width: 52px;
	height: 40px;
	right: 0;
	bottom: 0;
  color: white;
}

@media (prefers-color-scheme: dark) {
  #home .section {
    background: #0800BF;
    background: radial-gradient(circle at 60% 50%, #FF33B7 0%, #0800BF 20%, #0800BF 100%);
  	float: left;
  	height: 768px !important;
  }
}

@media (max-width: 992px) {
  #home {
    padding-top: 60px;
  }
}

@media (max-width: 767px) {
  #home .section {
    background: rgb(255,201,183);
    background: radial-gradient(circle at 50% 30%, rgba(255,201,183,1) 0%, rgba(255,51,183,1) 20%, rgba(255,51,183,1) 100%);
  	float: left;
  	height: 768px !important;
  }

  #home .home-logo img {
    margin: auto;
    top: 0;
  	max-width: 80%;
  }

  #home .home-title {
    z-index: 2;
  	position: relative;
  	left: 0;
  	top: 350px;
  }

  #home .home-submit {
    top: 470px;
  	left: 20px;
    min-width: 300px;
  }
}

@media (max-width: 767px) and (prefers-color-scheme: dark) {
  #home .section {
    background: #0800BF;
    background: radial-gradient(circle at 50% 30%, #FF33B7 0%, #0800BF 20%, #0800BF 100%);
  	float: left;
  	height: 768px !important;
  }
}

@media (max-width: 480px) {
	#home .section {
		height: 580px !important;
	}

  #home .home-title {
    z-index: 2;
  	top: 250px;
  }

  #home .home-title .main {
  	font-size: 35px;
  }

  #home .home-title .sub {
    top: 45px;
  	font-size: 15px;
  }

  #home .home-submit {
    top: 400px;
  	left: 20px;
    min-width: 200px;
  }

  #home .home-past {
  	width: 100%;
  	height: 100%;
    font-size: 13px;
    font-style: bold;
  }
}

/* about */

#section-about .container {
  padding: 100px 20px;
}

#section-about .flex-container {
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#section-about .container .image {
  margin: auto;
  align-items: center;
  flex-shrink: 0;
}

#section-about .container .image img {
	width: 163px;
}

#section-about .container .text {
	margin: 42px 49px;
	text-align: center;
  flex-direction: column;
}

#section-about .container .text h3 {
	font-size: 23px;
  margin-bottom: 42px;
  color: #FF35B7;
}

#section-about .container .text p {
	margin-bottom: 0;
  font-size: 16px;
  color: black;
}

@media (max-width: 992px) {
  #section-about .container {
		padding: 50px 20px;
  }

  #section-about .container .text {
    margin: 0 30px;
  }

  #section-about .container .text h3 {
    margin-top: 42px
  }
}

@media (max-width: 767px) {
  #section-about .container {
		padding: 30px;
  }

  #section-about .container .text h3 {
    font-size: 18px;
    margin-top: 42px
  }

  #section-about .container .text p {
    font-size: 13px;
  }
}

/* ticket */

#section-ticket {
  margin-top: 80px;
  padding-bottom: 80px;
  background-color: #FF33B7;
}

#section-ticket .description {
  /* align-items: center; */
  text-align: center;
  font-size: 40px;
  justify-content: center;
  /* flex-grow: 1; */
  background-color: #FF33B7;
  color: white;
}

@media (prefers-color-scheme: dark) {
  #section-ticket {
    background-color: #0800BF;
  }

  #section-ticket h2 {
    color: white;
  }
}

@media (max-width: 992px) {
  #section-ticket .flex-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  #section-ticket .ticket {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  #section-ticket .flex-container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  #section-ticket .ticket {
    padding: 20px;
  }

  #section-ticket .ticket .includes {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #section-ticket .ticket .includes .item {
    margin-right: 17px;
  }

  #section-ticket .ticket .info {
    margin: 30px 0;
  }
}

/* program */

#section-program .table-program {
  border: none;
  border-collapse: separate;
  border-spacing: 32px 0;
  width: calc(100% + 64px);
  margin: 0 -32px;
}

#section-program .table-program td {
  height: 15px;
}

#section-program .table-program th:not(:empty) {
  padding: 14px 19px;
  background-color: #151515;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

#section-program .table-program td {
  vertical-align: top;
}

#section-program .table-program td.session:not(:empty),
#section-program .table-program td.workshop:not(:empty) {
  padding: 12px 19px;
  background-color: #EFEFEF;
  color: black;
  font-size: 15px;
  width: 42%;
}

/*#section-program .table-program td.session:not(:empty):not(.reserved),
#section-program .table-program td.workshop:not(:empty):not(.reserved) {
  cursor: pointer;
}
*/
#section-program .table-program td.session.reserved {
  background-color: #90DD22;
}

#section-program .table-program td.session .time {
  display: block;
  font-weight: bold;
}
#section-program .table-program td.session .speaker {
  float: right;
}

#section-program .table-program td.workshop .time {
  display: block;
  font-weight: bold;
}
#section-program .table-program td.workshop .title {
  display: block;
}
#section-program .table-program td.workshop .speaker {
  display: block;
}

#section-program .table-program td.time {
  position: relative;
}
#section-program .table-program td.time span {
  position: absolute;
  top: 16px;
}
#section-program .table-program td.time:not(:empty) {
  line-height: 0;
  color: #151515;
  font-size: 15px;
  font-weight: bold;
  border-top: 4px solid #151515;
}

#section-program .table-program td.session .links,
#section-program .table-program td.workshop .links {
  margin-top: 10px;
  list-style: none;
}

#section-program .table-program td.session .links li:not(:last-child)::after,
#section-program .table-program td.workshop .links li:not(:last-child)::after {
  content: "\00a0/\00a0";
}

#section-program .table-program td.session .links li,
#section-program .table-program td.workshop .links li {
  float: left;
}

#section-program .program-modal {
  position: fixed;
  top: 100px;
  left: 10%;
  right: 10%;
  text-align: left;
  padding: 45px;
  background-color: white;
  border: 1.5px solid black;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  z-index: 50;
}

#section-program .program-modal .avatar {
  width: 275px;
  height: 275px;
  margin-right: 45px;
  object-fit: cover;
}

#section-program .program-modal .content {

}

#section-program .program-modal .title {
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 19px;
  color: #19BF2D;
}

#section-program .program-modal .name::before {
  content: '@';
}

#section-program .program-modal .name {
  margin-bottom: 17px;
  font-size: 16px;
  color: #535353;
}

#section-program .program-modal .description {
  margin-bottom: 0;
  font-size: 18px;
  color: black;
}

@media (max-width: 992px) {
  #section-program .table-program {
    border-collapse: separate;
    border-spacing: 20px 0;
    width: calc(100% + 40px);
    margin: 0 -20px;
  }

  #section-program .program-modal {
    padding: 30px 60px;
  }
}

@media (max-width: 767px) {
  #section-program .table-program {
    border-collapse: separate;
    border-spacing: 16px 0;
    width: calc(100% + 32px);
    margin: 0 -16px;
  }

  #section-program .table-program td.session:not(:empty) {
    position: relative;
    padding-bottom: 60px !important;
  }

  #section-program .table-program td.session .speaker {
    position: absolute;
    left: 19px;
    bottom: 19px;
  }

  #section-program .table-program td.workshop .speaker {
    margin-top: 15px;
  }

  #section-program .program-modal {
    flex-flow: row wrap;
  }

  #section-program .program-modal .avatar {
    width: 200px;
    height: 200px;
  }

  #section-program .program-modal .title {
    margin-top: 30px;
  }
}

@media (max-width: 479px) {
  #section-program .table-program {
    border-collapse: separate;
    border-spacing: 10px 0;
    width: calc(100% + 20px);
    margin: 0 -10px;
  }

  #section-program .table-program td {
    height: 10px;
  }

  #section-program .table-program th:not(:empty) {
    padding: 5px 10px;
  }

  #section-program .table-program td.session:not(:empty),
  #section-program .table-program td.workshop:not(:empty) {
    padding: 8px 10px;
  }

  #section-program .table-program td.session .speaker {
    position: absolute;
    left: 10px;
    bottom: 8px;
  }

  #section-program .program-modal {
    padding: 30px;
  }

  #section-program .program-modal .avatar {
    display: none;
  }

  #section-program .program-modal .title {
    margin-top: 0;
  }

  #section-program .program-modal .name {
    display: none;
  }
}

/* speakers */

#section-speakers {
  background-color: white;
  padding-top: 50px !important;
  padding-bottom: 80px !important;
}

#section-speakers .flex-container {
  margin: auto;
  margin: calc(-50px / 2) calc(-64px / 2);
  padding-top: 50px;
  padding-bottom: 80px;
  display: flex;
  flex-flow: row wrap;
}

#section-speakers .speaker {
  margin: calc(50px / 2) calc(64px / 2);
}

/* 발표자 공개되면 삭제 */
#section-speakers .speaker .submit {
  margin-top: 1px;
  width: 100%;
  color: black;
  font-size: 17px;
  font-weight: 800;
  text-align: left;
}

#section-speakers .speaker .submit:hover {
  color: #ff39b7;
}
/* 발표자 공개되면 삭제 */

/* #section-speakers .speaker:hover {
  animation: pulse 1s;
  animation-iteration-count: 1;
} */

#section-speakers .speaker .box {
  width: 237px;
  height: 4px;
  margin-bottom: 7px;
  background-color: #ff39b7;
}

#section-speakers .speaker .photo {
  width: 237px;
  height: 300px;
  object-fit: cover;
}

#section-speakers .speaker .name {
  margin-top: 13px;
  width: 100%;
  background-color: white;
  color: #ff39b7;
  font-size: 32px;
  font-weight: 900;
  text-align: left;
}

#section-speakers .speaker .session-name {
  margin-top: 1px;
  width: 100%;
  color: #ff39b7;
  font-size: 17px;
  font-weight: 400;
  text-align: left;
}

#section-speakers .speaker .description {
  margin-top: 10px;
  width: 237px;
  background-color: white;
  color: black;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-align: justify;
}

@media (max-width: 992px) {
  #section-speakers .speaker .description {
    width: 197px;
  }

  #section-speakers .speaker .box {
    width: 197px;
  }

  #section-speakers .speaker .photo {
    width: 197px;
    height: 250px;
  }
}

@media (max-width: 767px) {
  #section-speakers .speaker .description {
    width: 188px;
  }

  #section-speakers .speaker .box {
    width: 188px;
  }

  #section-speakers .speaker .photo {
    width: 188px;
    height: 230px;
  }
}

@media (max-width: 479px) {
  #section-speakers .speaker .description {
    width: 100%;
  }

  #section-speakers .speaker .box {
    width: 100%;
  }

  #section-speakers .speaker .photo {
    width: 100%;
    height: 230px;
  }
}

/* sponsors */

#section-sponsors {
  background-color: white;
  padding-top: 50px !important;
  padding-bottom: 80px !important;
}

#section-sponsors .flex-container {
  margin: auto;
  display: flex;
  padding-top: 0;
  padding-bottom: 80px;
}

#section-sponsors .sponsor {
  padding-bottom: 40px;
  width: 100%;
}

#section-sponsors .sponsor .title {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

#section-sponsors .sponsor .image {
  margin-right: 50px;
  padding-top: 20px;
  float: left;
}

#section-sponsors .sponsor .image:hover {
  opacity: 0.6;
}

/* staff */

#section-staff {
  background-color: #EFEFEF;
  padding-top: 50px !important;
  padding-bottom: 80px !important;
}

#section-staff .description {
  margin-top: 1px;
  width: 100%;
  color: black;
  font-size: 17px;
  font-weight: 800;
  text-align: left;
}

#section-staff .flex-container {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 80px;
  margin: calc(-24px / 2) calc(-37px / 2);
  display: flex;
  flex-flow: row wrap;
}

#section-staff .staff {
  margin: calc(24px / 2) calc(37px / 2);
}

#section-staff .staff .avatar {
  display: inline-block;
  width: 137px;
  height: 137px;
  object-fit: cover;
  background-position: 50%, 50%;
  background-size: cover;
}

#section-staff .staff:hover .avatar {
  opacity: 0.8;
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#section-staff .staff .name {
  margin-top: 13px;
  width: 100%;
  background-color: white;
  color: black;
  font-size: 18px;
  line-height: 35px;
  font-weight: bold;
  text-align: center;
}

#section-staff .staff-modal {
  position: fixed;
  top: 100px;
  left: 10%;
  right: 10%;
  text-align: center;
  padding: 57px 189px;
  background-color: white;
  border: 1.5px solid black;
  cursor: pointer;
  z-index: 50;
}

#section-staff .staff-modal .avatar {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

#section-staff .staff-modal .name::before {
  content: '@';
}

#section-staff .staff-modal .name {
  margin-bottom: 20px;
  font-size: 18px;
}

#section-staff .staff-modal .bio {
  margin-bottom: 0;
  font-size: 18px;
}

@media (max-width: 992px) {
  #section-staff .staff-modal {
    padding: 30px 60px;
  }
}

@media (max-width: 767px) {
  #section-staff .flex-container {
    margin: auto;
    margin: calc(-24px / 2) calc(-20px / 2);
    display: flex;
    flex-flow: row wrap;
  }

  #section-staff .staff {
    margin: calc(24px / 2) calc(20px / 2);
  }

  #section-staff .staff .avatar {
    width: 120px;
    height: 120px;
  }

  #section-staff .staff-modal {
    padding: 30px 20px;
  }

  #section-staff .staff-modal .avatar {
    margin-bottom: 10px;
  }

  #section-staff .staff-modal .name {
    margin-bottom: 15px;
  }
}

/* venue */

#section-venue .flex-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

#section-venue .map {
  border: none;
  flex-grow: 1;
}

#section-venue .info {
  margin-top: 53px;
  margin-bottom: 53px;
  margin-left: 70px;
}

#section-venue .info h3 {
  margin-bottom: 14px;
  font-size: 20px;
  color: black;
}

#section-venue .info ul {
  list-style: none;
  font-size: 16px;
  color: black;
}

#section-venue .info li {
  margin-top: 24px;
}

#section-venue .info ul .key {
  display: block;
}

@media (max-width: 767px) {
  #section-venue .map {
    height: 200px;
  }

  #section-venue .info {
    margin-left: 0;
  }
}

/* footer */

footer {
  background-color: #ff39b7;
  margin-top: 160px;
  height: 60px;
  color: white;
  font-size: 13px;
}

footer .container {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
}

footer .link-btn {
	color: #FFC9B7;
  font-weight: bold;
}

footer ul {
  list-style: none;
  margin: 0;
}

footer .copyright {
  padding-right: 120px;
}

@media (prefers-color-scheme: dark) {
  footer {
    background-color: #0800BF;
  }
}

@media (max-width: 479px) {
  footer {
    margin-top: 10px;
  }

  footer .copyright {
    padding-right: 0;
  }
}
