/* common */

.page-section {
  padding-top: 80px !important;
  padding-bottom: 0 !important;
}

.page-section h2 {
  font-size: 32px;
  color: black;
}

/* home */

#home .section {
	background-color: #707070;
	float: left;
	height: 700px !important;
}

#home .section .container {
	position: relative;
	margin: 55px auto;
	height: calc(100% - 110px);
}

#home .home-canvans {
	background-color: white;
}

#home .home-sidemenu {
	position: absolute;
	left: 0;
	top: 0;
}

#home .home-canvans {
	position: absolute;
	left: 82px;
	right: 278px;
	max-width: 700px;
	height: 485px;
	line-height: 485px;
}

#home .home-canvans img {
	max-width: 277px;
	width: 50%;
	margin: auto;
}

#home .home-noti {
	position: absolute;
	top: 0;
	right: 0;
}

#home .home-noti .content {
	position: absolute;
	top: 10px;
	left: 55px;
	text-align: left;
	font-size: 12px;
	color: black;
}

#home .home-noti img {
	width: 243px;
}

#home .home-icons {
	width: 100%;
	height: 100%;
}

#home .home-icons .icon-music {
	position: absolute;
	width: 51px;
	height: 70px;
	right: 206px;
	bottom: 0;
}

#home .home-icons .icon-sessions {
	position: absolute;
	width: 52px;
	height: 67px;
	right: 103px;
	bottom: 0;
}

#home .home-icons .icon-2016 {
	position: absolute;
	width: 52px;
	height: 67px;
	right: 0;
	bottom: 100px;
}

#home .home-icons .icon-2017 {
	position: absolute;
	width: 52px;
	height: 67px;
	right: 0;
	bottom: 0;
}

@media (max-width: 767px) {
	#home .home-canvans {
		height: 400px;
		line-height: 400px;
		top: 70px;
		left: 90px;
		right: 20px;
	}

	#home .home-noti img {
		width: 200px;
	}

	#home .home-noti .content {
		position: absolute;
		top: 6px;
		left: 45px;
		text-align: left;
		font-size: 12px;
	}

	#home .home-icons .icon-music {
		position: absolute;
		width: 51px;
		height: 70px;
		left: 0;
		bottom: 0;
	}
	
	#home .home-icons .icon-sessions {
		position: absolute;
		width: 52px;
		height: 67px;
		left: calc(26% + 5px);
		bottom: 0;
	}
	
	#home .home-icons .icon-2016 {
		position: absolute;
		width: 52px;
		height: 67px;
		right: 0;
		bottom: 0;
	}
	
	#home .home-icons .icon-2017 {
		position: absolute;
		width: 52px;
		height: 67px;
		right: calc(26% + 5px);
		bottom: 0;
	}
}

@media (max-width: 480px) {
	#home .section {
		height: 580px !important;
	}

	#home .home-canvans {
		height: 300px;
		line-height: 300px;
		top: 70px;
		left: 90px;
		right: 20px;
	}
}

/* home */

@media (max-width: 767px) {
	#home .home-canvans {
		height: 400px;
		line-height: 400px;
		top: 70px;
		left: 90px;
		right: 20px;
	}

	#home .home-noti img {
		width: 200px;
	}

	#home .home-noti .content {
		position: absolute;
		top: 6px;
		left: 45px;
		text-align: left;
		font-size: 12px;
	}

	#home .home-icons .icon-music {
		position: absolute;
		width: 51px;
		height: 70px;
		left: 0;
		bottom: 0;
	}
	
	#home .home-icons .icon-sessions {
		position: absolute;
		width: 52px;
		height: 67px;
		left: calc(26% + 5px);
		bottom: 0;
	}
	
	#home .home-icons .icon-2016 {
		position: absolute;
		width: 52px;
		height: 67px;
		right: 0;
		bottom: 0;
	}
	
	#home .home-icons .icon-2017 {
		position: absolute;
		width: 52px;
		height: 67px;
		right: calc(26% + 5px);
		bottom: 0;
	}
}

@media (max-width: 480px) {
	#home .section {
		height: 580px !important;
	}

	#home .home-canvans {
		height: 300px;
		line-height: 300px;
		top: 70px;
		left: 90px;
		right: 20px;
	}
}

/* about */

#section-about .container {
	border: 3px solid #151515;
  padding: 100px 20px;
  -webkit-box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.16);
}

#section-about .flex-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#section-about .container .image {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

#section-about .container .image img {
	width: 163px;
	height: 163px;
}

#section-about .container .text {
	margin: 12px 49px;
	text-align: left;
  color: black;
  flex-direction: column;
}

#section-about .container .text h3 {
	font-size: 23px;
  margin-bottom: 42px;
}

#section-about .container .text p {
	margin-bottom: 0;
  font-size: 16px;
}

#section-about .container .text .ticket {
  margin-top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#section-about .container .btn-ticket {
	border: 2px solid #151515;
	border-radius: 11px;
	font-size: 16px;
	font-weight: bold;
	color: black;
  padding: 10px 50px;
  margin-left: 94px;
}

#section-about .container .btn-ticket:hover {
  background-color: black;
  color: white;
}

@media (max-width: 992px) {
  #section-about .container {
		padding: 50px 20px;
  }

  #section-about .container .text {
    margin: 0 30px;
  }
  
  #section-about .container .btn-ticket {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  #section-about .container {
		padding: 30px;
  }

  #section-about .container .text {
    margin: 0;
    text-align: center;
  }

  #section-about .container .text h3 {
    margin-top: 42px
  }

  #section-about .container .btn-ticket {
    margin: 42px 0 0 0;
  }
}

/* program */

/* staff */

#section-staff {
  background-color: #EFEFEF;
  padding-top: 50px !important;
  padding-bottom: 80px !important;
}

#section-staff .flex-container {
  margin: auto;
  margin: calc(-24px / 2) calc(-37px / 2);
  display: flex;
  flex-flow: row wrap;
}

#section-staff .staff {
  margin: calc(24px / 2) calc(37px / 2);
}

#section-staff .staff .avatar {
  width: 137px;
  height: 137px;
}

#section-staff .staff .name {
  margin-top: 13px;
  width: 100%;
  background-color: white;
  color: black;
  font-size: 18px;
  line-height: 35px;
  font-weight: bold;  
  text-align: center;
}

@media (max-width: 767px) {
  #section-staff .flex-container {
    margin: auto;
    margin: calc(-24px / 2) calc(-20px / 2);
    display: flex;
    flex-flow: row wrap;
  }
  
  #section-staff .staff {
    margin: calc(24px / 2) calc(20px / 2);
  }

  #section-staff .staff .avatar {
    width: 120px;
    height: 120px;
  }  
}

/* venue */

#section-venue .flex-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

#section-venue .map {
  border: none;
  flex-grow: 1;
}

#section-venue .info {
  margin-top: 53px;
  margin-bottom: 53px;
  margin-left: 70px;
}

#section-venue .info h3 {
  margin-bottom: 14px;
  font-size: 20px;
  color: black;
}

#section-venue .info ul {
  list-style: none;
  font-size: 16px;
  color: black;
}

#section-venue .info li {
  margin-top: 24px;
}

#section-venue .info ul .key {
  display: block;
}

@media (max-width: 767px) {
  #section-venue .map {
    height: 200px;
  }

  #section-venue .info {
    margin-left: 0;
  }
}